@import url('../main.css');
@import url('header.css');

.team{
  position: relative;
  text-align: center;
  padding: 2em;
  transform: translate(-50%);
  left:50%;
}

.team-pics{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.img-team{
  padding: 1em;
  border-radius: 1em;
  background-color: var(--secondary);
}

.img-team > img{
  width: 6.5em;
  height: 6.5em;
  border-radius: 50%;
}

.img-home  {
  padding: 2em;
}

/* site em tamanho desktop */
@media (min-width: 720px) {

  .ul-hidden2 :nth-child(2) a {
    color: var(--primary);
  }

  .team-pics{
    display: flex;
    justify-content: space-around;
  } 

  .img-home{
    display: flex;
    justify-content: center;
  }

  .img-home img{
    width: 50vw; 
  }
}
