@import url('../main.css');
@import url('header.css');
.team{
    text-align: center;
    padding: 2em;
}

.team :last-child{
    margin-top: 1em;
}

.img-team{
    padding: 1em;
}

.img-team > img{
    background-color: bisque;
    width: 6.5em;
    height: 6.5em;
    border-radius: 50%;

}

.img-home  {
    padding: 2em;

}

/* site em tamanho desktop */
@media (min-width: 720px) {

    .ul-hidden2 :nth-child(2) a {
        color: var(--primary);
    }

   .team-pics{
    display: flex;
    justify-content: space-around;
   } 
        
   .img-home{
    display: flex;
    justify-content: center;
   }

   .img-home img{
      width: 50vw; 
   }
}
