header li {
    display: flex;
    justify-content: center;
    padding: 10px;
}

header img {
    position: relative;
    left: 50%;
    max-width: 35%;
    transform: translate(-50%);
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
}

.ul-hidden {
    display: none;
    box-shadow: 0px 5px 4px rgba(0, 206, 255, 0.34);
    margin: 0 10%;
    background-color: var(--secondary);
    border-radius: 30px;
}


.ul-hidden2 {
    display: none;
}

.ul-visible {
    display: block;
    box-shadow: 0px 5px 4px rgba(0, 206, 255, 0.34);
    margin: 0 10%;
    background-color: var(--secondary);
    border-radius: 30px;
}

@media (min-width: 720px) {

    header {
        display: flex;
    }

    header img {
        max-width: 20%;
        left: 0;
        height: auto;
        width: 8em;
        padding: 1.5em;
        transform: translate(0);
    }

    nav {
        display: flex;
    }

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .ul-visible {
        display: none;

    }

    .ul-hidden2 {
        padding: 1em;
        display: flex;
        height: 3em;
        width: 40em;
        box-shadow: 0px 5px 4px rgba(0, 206, 255, 0.34);
        margin: 3em 1em;
        background-color: var(--secondary);
        border-radius: 30px;
        align-items: center;
        justify-content: space-around;
    }


    .ul-hidden2 :first-child:hover {
        color: var(--primary);
    }

    nav::after {
        content: "";
        top: 4.5em;
        position: relative;
        width: calc(100vw - 50em);
        height: 5px;
        color: white;
        background-color: white;
    }

    .ul-hidden {
        display: none;
    }
}
