@import url('main.css');
@import url('styles/header.css');

main{
    text-align: center;
    padding: 1em;
}



@media (min-width: 720px) {

    header {
        display: flex;
    }

    header img {
        left: 0;
        display: block;
        width: 10%;
        margin: 0em 1em;
        padding: 1.5em;
        transform: translate(0);
    }

    nav {
        display: flex;

    }

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .ul-visible {
        display: none;

    }

    .ul-hidden2 {
        padding: 1em;
        display: flex;
        height: 3em;
        box-shadow: 0px 5px 4px rgba(0, 206, 255, 0.34);
        margin: 3em 1em;
        background-color: var(--secondary);
        border-radius: 30px;

        align-items: center;
    }

    .ul-hidden2 :nth-child(3) a {
        color: var(--primary);
    }

    .ul-hidden2 :first-child:hover {
        color: var(--primary);
    }

    nav::after {
        content: "";
        top: 4em;
        position: relative;
        width: 50vw;
        height: 5px;
        color: white;
        background-color: white;
    }

    .ul-hidden {
        display: none;
    }


}